name: CI
on:
  push:
      branches:
        - 'dev'
        - 'release-'
      tags: '*'
  pull_request:

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-latest, version: '1.0', arch: x64}
          - { os: ubuntu-latest, version: '1.1', arch: x64}
          - { os: ubuntu-latest, version: '1.2', arch: x64}
          - { os: ubuntu-latest, version: '1.3', arch: x64}
          - { os: ubuntu-latest, version: '1.4', arch: x64}
          - { os: ubuntu-latest, version: '1.5', arch: x64}
          - { os: ubuntu-latest, version: '^1.6.0-0', arch: x64}
          - { os: ubuntu-latest, version: 'nightly', arch: x64}
          - { os: windows-latest, version: '1', arch: x64}
          - { os: macOS-latest, version: '1', arch: x64}

    steps:
      - uses: actions/checkout@v2

      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}

      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-

      - run: |
          git config --global user.name Tester
          git config --global user.email te@st.er

      - uses: julia-actions/julia-runtest@latest
        continue-on-error: ${{ matrix.version == 'nightly' }}
